.App {
  text-align: center;
  margin: auto;
}


.table-type{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;

}

.table-number {
    background-color: red;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 2px solid black;
    margin: 30px 4px;

}

.selected {
    background-color: green;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 2px solid black;
    margin: 30px 4px;
}

.equation{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
