.App {
  text-align: center;
  margin: auto;
  max-width: 700px;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

/* main page */
.main {
    background-color: cyan;
    width: 100vw;
    height: 100vh;
}

.navigation {
    width: 100vw;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5px;
}



/* multiply */
.table-type{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 350px;

}

.table-number {
    background-color: cyan;
    flex: 1 0 12%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 2px solid black;
    margin: 4px;

}

.selected {
    background-color: lightgreen;
    flex: 1 0 12%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 2px solid white;
    box-shadow: 0 0  6px white;
    margin: 4px;
}

.equation{
    background-color: lightgreen;
    padding: 7px;
    border-radius: 15px;
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 30px;
}

button {
    border-radius: 10px;
    padding: 4px 10px;
    background: linear-gradient(white, lightgreen, lime, lime, lime, green);
}

button:active {
  transform: translateY(-4px);
}

input {
    max-width: 30%;
}

.scores {
    margin: auto;
    width:40%;
    padding: 5px 7px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
}

.answerList {
    margin: 20px auto;
    padding: 5px;
    border: 3px solid black;
    width: 50%;
    height: 250px;
    max-height: 300px;
    overflow-y: scroll;
    background-color: rgba(20,20,20, 0.5);
}

.listItem {
    padding: 1px;
    border-bottom: 1px solid black;
    background-color: white;
}

.next {
    background: rgba(200, 150, 150, 0.5);
    width: 100px;
    padding: 5px;
    margin: auto;
    color: white;
}


/*  word search */

.wordSearch {
    background: lime;
    width: 100vw;
    height: 100vh;
    margin: 20px auto;
    text-align: center;
}

.wordBox {
    margin: auto;
    height: 20%;
    max-width: 360px;
    border-radius: 25px;
    background-color: rgba(0,0,0, 0.5);
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:  5px 15px;
    justify-content: space-around;
}

.word {
    height: 25px;
    line-height: 25px;
}

.wordSearchBox {
    margin: 20px auto;
    max-width: 360px;
    background-color: white;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.searchLetter {
    flex-basis: 8%;
    background: rgba(200,200,200, 0.5);
    border: 1px solid black;
    margin: 2px;
    width: 25px;
    height: 20px;
    line-height: 20px;
}

.clicked {
    flex-basis: 8%;
    background: red;
    border: 1px solid black;
    margin: 2px;
    width: 25px;
    height: 20px;
    line-height: 20px;
}

.guessMenu {
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 350px;
    height: 30px;
}

.guessBar {
    margin: auto;
    height: 20px;
    width: 200px;
    background-color: white;
    overflow: hidden;
}

.guessButton{
    height: 25px;
    margin: auto;
}

/* Lilianas MAth */

.liliMath {
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.liliMath > h2 {
    text-align: center;
    background: rgba(255,70,196, 05);
    padding: 10px;

}

.subtraction {
    border: 1px solid black;
    background-color: rgba(155,131,200, 0.8);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 300px;
    margin:100px auto;
}

.subtraction > *{
    height: 25px;
}

.scoresLiliana {
    margin: auto;
    width:40%;
    padding: 5px 7px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
}
